<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        <style>
            body {
                padding-top: 100px;
            }

            .form-container {
                width: 400px;
                margin: auto;
            }
        </style>
    </head>
</html>